@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --color-1: #0089ff;
  --color-2: #004078;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #222222;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 4px;
}
